# Prevent directory processing in auth directory
Options -Indexes
DirectorySlash Off

# Route all requests to parent index.php
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ ../index.php [L]
</IfModule>
